* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}


html {
    height: 100%;
    display: grid;
    place-items:center;
    background-color: #1f2024
}

.container {
    padding: 2em;
    max-width: 44em; /*  vic  */
    background-color: beige;
    border-radius: 8px;
}

.user-details {
    margin-bottom: 1.5em;
    display: flex;
    flex-wrap: wrap; /*  vic  */
    /* background-color: red; */
}

.input-box {
    margin-bottom: .1em;
    margin-right: 1em;
    padding: .5em;
    padding-left: 0;
    width: calc(100% / 2 - 20px); /*  vic  */
    /* width: calc(50% - 20px);  same as above  */
    /* background-color: grey; */
}

.input-box input {
    width: 100%; /*  vic. it's what makes the label & the input stack  */ 
    height: 2.5em;
    padding-left: .5em;
    border-radius: 6px;
    border: none;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06)
}
 
h3 {
    margin-bottom: .7em;
    /* background-color: red; */
}

.age-group {
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-start;
    /* background-color: green; */
}

.radio-section {
    margin-right: 5em;
    margin-bottom: 1em;
    /* background-color: cornflowerblue;
    */
    accent-color: black;
} 

.sub-btn {
    border: none;
    /* padding: 0em 80%; --> this messes things up for some reason  */
    padding: 1em;
    margin-bottom: 1em;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    width: 100%;
    border-radius: 8px;
    color: white;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;

}


@media screen and (max-width: 500px) {
    .container {
        margin: 10% 10%;
        
    }

    .user-details {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .input-box {
        width: 100%;
        /* margin-right:0 ; */
    }
    
}